.bck-img{
    background-image: 
    linear-gradient(to bottom, rgba(222, 225, 240, 0.242), #02020200),
    url(../img/burger_photo_main.jpg);
   /*
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  */
  
  min-height: 500px;
  
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* position of the navbar */
  position: relative;

  
}
body{
  padding: 0;
  margin: 0;
  
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin-left: 0;
  
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: rgba(1, 1, 7, 0.873);
}

/* Navbar links */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.logo{
  height: 100px;
  width: 100px;
  float: right;
  
  

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Title*/
.title {
  text-align: center;
  font-size: 75px;
  text-decoration: underline;
  
  

}


.a{
  font-family: 'Lobster', cursive;
}
.b{
  font-size: xx-large;
}
p{
  font-size: large;
  padding: 12px;
}
.column {
  float: left;
  width: 32%;
  padding: 5px;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  box-sizing: border-box;
}
.bttm{
  width: 100%;
  height: 250px;
  border: solid rgba(216, 216, 233, 0.17);
  color: #0e0a0a;
  box-sizing: border-box;
  
  
}
.bttmclm1{
  float: left;
  width: 33.3%;
  padding-left: 13px;
  text-align: center;
 
}
.icon{
  padding: 5px;
  color: #230de9;
}
.icon2{
  padding: 5px;
  color: #e90d0d;
}  
.icon3{
  padding: 5px;
  color: #a24105;
}
.icon4{
  padding: 5px;
  color: #0a0910;
}
.icon5{
  padding: 5px;
  color: #eeff00;
}
.map{
    margin-top: 100px;
    float: left;
}